.pac-item{
    padding:10px!important;
    font-size:16px!important;
    cursor:pointer;
}

.pac-icon{
    display: none!important;
}

.pac-logo::after{
    background: none;
}
.pac-item:hover{
    background:#ececec
}

.pac-item-query{
    font-size: 16px;
}
.gm-style-iw button{
    display:none!important;
}
.gm-style .gm-style-iw-c{
    padding:0px !important
}
.gm-style-iw-d{
    overflow:hidden
}
